body {
    height: 100vh;
    background-color:#fbd3cb;
}

/*폰트 추가*/
*{ font-family: 'Noto Serif KR', serif; }
button { font-family: 'Noto Serif KR', serif;  }
/*구글 폰트*/
.font_Gb { font-family: 'Gowun Batang', serif; }
.font_Ns { font-family: 'Noto Serif KR', serif; }

/*로딩*/
.loading_wrap{
    width: 100%;
    height: 100%;
    background-color: #fbd3cb;
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadericon {
    animation: rotate_image 9s linear infinite;transform-origin: 50% 50%;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

/*상단*/
.navbar {
    position: relative;
    background-color: #fbd3cb;
}
.is-ranunculus {
    color: pink !important;
}

/*index 페이지*/
.mTitle { font-size: 2.5rem;}

#hero_image {
    height: 100%;
    background-image: url("../main_back.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#fbd3cb;
}

.button.is-sign {
    background-color: #d5a2a1;
    border-color: transparent;
    color: #fff !important;
    width: 100px;
}

.greeting {
    margin-right: 50px;
}

.user_name_hi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#review_btn {
    padding: 10px;
    background-color: pink;
    color: #fff !important;
    border-color: transparent;
}


/*login 페이지*/
.loginsection {
    max-width: 500px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*reservation 페이지*/


/*review 페이지*/

#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 0 #bb8d95, 0 1px #bb8d95, 1px 0 #bb8d95, 0 -1px #bb8d95;;
    font-weight: bold;
}

