/*폰트 추가*/
*{ font-family: 'Noto Serif KR', serif; }
button { font-family: 'Noto Serif KR', serif;  }
/*구글 폰트*/
.font_Gb { font-family: 'Gowun Batang', serif; }
.font_Ns { font-family: 'Noto Serif KR', serif; }


/*index 페이지*/
.mTitle { font-size: 2.5rem;}

#hero_image {
    background-image: url("../main_back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#fbd3cb;
}

/*상단*/
.is-ranunculus {
    color: pink !important;
}

.button.is-sign {
    background-color: #d5a2a1;
    border-color: transparent;
    color: #fff !important;
    width: 100px;
}

.greeting {
    margin-right: 50px;
}

.user_name_hi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#review_btn {
    padding: 10px;
    background-color: pink;
    color: #fff !important;
    border-color: transparent;
}


/*login 페이지*/


/*reservation 페이지*/


/*review 페이지*/

#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 0 #bb8d95, 0 1px #bb8d95, 1px 0 #bb8d95, 0 -1px #bb8d95;;
    font-weight: bold;
}

