#hero_image {
    background-image: url("https://ifh.cc/g/QLzcG4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.is-ranunculus {
    color: pink !important;
}

.button.is-sign {
    background-color: pink;
    border-color: transparent;
    color: #fff !important;
    width: 100px;
}

.greeting {
    margin-right: 50px;
}

.user_name_hi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}