{% include 'lib/top.html' %}

<section id="hero_image" class="hero is-large">
    <div class="hero-body has-text-centered">
        <p class="title">Ranunculus One-Day Class<br></p>
        <p class="subtitle mTitle font_Gb">그대에게 향기를</p>
        <a href="/review" class="button is-ranunculus">회원 리뷰 보러가기</a>
        <a href="/reservation" class="button is-ranunculus">클래스 예약 하러가기</a>
    </div>
</section>

<div id="weather">
    <span></span>
    <span></span>
</div>

{% include 'lib/bottom.html' %}