{# <header>와 <nav> #}
{% include 'lib/top.html' %}
<div class="review-wrap">
<div>
    <form id="review_form">
        <div class="column field is-12">
            <label class="label is-size-3">REVIEW</label>
            <div class="control">
                <input id="content" class="input" type="text" placeholder="멋진 리뷰를 남겨주세요!" style="height: 50px">
            </div>
            <br>
            <button onclick="save_review()" id="review_btn">리뷰 작성하기</button>
        </div>
    </form>
</div>

<div class="user_name_hi">
    <span> <strong>{{ user_info.username }}</strong> 님 안녕하세요! 리뷰를 남겨주세요! </span>
</div>

<hr>
<div class="cards-box">
    <div id="review_contents" class="card">
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        show_review();
    });
</script>
{# js 와 bottom #}
{% include 'lib/bottom.html' %}
